.dialogs {
    display: grid;

    grid-template-columns: 15% 80%;
    grid-template-rows: 1fr;
    grid-column-gap: 5%;
    grid-row-gap: 0px;
    padding: 2% 0 0 2%;
    height: 2000px;
}

/* .messages {
    height: 100%;
} */

.view {
}
